body {
    background-color: red !important;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuHG3-QeYrbY7qMN4SykPRVsldKvMdHZzJN9yt3UkPwSyGT9g0VMhkgrpSPApUM6GAIMU&usqp=CAU');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}
p {
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}