<!-- Template base para o EcoImpact -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
        <meta charset="UTF-8">
        <title>{% block title %}EcoImpact{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header class="topbar">
            <div class="container row space-between">
                <div class="logo"><a href="{% url 'home' %}">EcoImpact</a></div>
                <nav>
                    <a href="{% url 'simular' %}" class="btn-nav">Nova Simulação</a>
                    <a href="{% url 'ultimo_resultado' %}" class="btn-nav">Último Resultado</a>
                </nav>
            </div>
        </header>
        <main>
            {% block content %}
            <!-- Conteúdo principal -->
            {% endblock %}
        </main>
        <footer>
            <p>Projeto EcoImpact - Faculdade</p>
        </footer>
    </body>
    </html>
